 .shop-section {
     background-image:url("https://images-eu.ssl-images-amazon.com/images/G/31/img22/Wireless/devjyoti/GW/Uber/Nov/uber_new_high._CB537689643_.jpg") ;
    
    background-repeat:no-repeat;
    background-size: contain;
   
    display: grid;
  
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows:680px 420px 300px;
    gap: 20px ;
    padding:20px;
    background-color:rgb(225, 222, 222);
     
}

.top{
  margin-top: 400px;
}
 
 
 
 .box {
  
    background-color: white;
    padding: 20px 0px 15px 20px;
    height: 420px;
  
}

.box-content {
    margin-right: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.box-content h2 {
    font-size: 20px;
    margin-bottom: 10px;
}


.box-img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 300px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #000000;
     text-align: center;
}

.grid-item img {
    width: 100%;
    height: 110px;
    object-fit: contain;
    margin-bottom: 5px;
}

.box-content a {
    color: #1b6c7b;
    text-decoration: none;
    font-size: 13px;
    margin-top: 20px;
    display: block;
}